service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // This rule allows anyone with your database reference to view, edit,
      // and delete all data in your database. It is useful for getting
      // started, but it is configured to expire after 30 days because it
      // leaves your app open to attackers. At that time, all client
      // requests to your database will be denied.
      //
      // Make sure to write security rules for your app before that time, or
      // else all client requests to your database will be denied until you
      // update your rules.
      allow read, write: if request.time < timestamp.date(2023, 10, 14);
    }

    // Default rule to deny read/write access
    match /{document=**} {
      allow read, write: if false;
    }
    
    // Allow read/write access to the user owns documents
    // Allow read/write access to ALL user documents if the user is Admin
    match /users/{userId} {
      allow read, write: if request.auth != null && (request.auth.token.admin == true || request.auth.uid == userId);
    }

    // Allow read/write access to the entire database for admin users
    match /{document=**} {
      allow read, write: if request.auth != null && request.auth.token.admin == true;
    }

  }
}
