@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Open+Sans:wght@500&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
