name: Deploy to Firebase Hosting on merge
on:
    push:
        branches:
            - live
jobs:
    build_and_deploy:
        if: ${{ false }}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - run: pnpm build
            - uses: FirebaseExtended/action-hosting-deploy@v0
              with:
                  repoToken: "${{ secrets.GITHUB_TOKEN }}"
                  firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_HAWKHACKS_2024 }}"
                  channelId: live
                  projectId: hawkhacks-2024
